@font-face {
  font-family: "recoleta";
  src: url("./fonts/Recoleta-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "recoleta";
  src: url("./fonts/Recoleta-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "recoleta";
  src: url("./fonts/Recoleta-Medium.ttf");
  font-weight: medium;
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "recoleta", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #313131;
  cursor: none;
}

button {
  cursor: none;
}

/* Selection */
::-moz-selection {
  color: #f2ede7;
  background: #895236;
}

::selection {
  color: #f2ede7;
  background: #895236;
}

/** Global **/
a {
  text-decoration: none;
  color: #666664;
  cursor: none !important;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Displays */
.display-mobile {
  display: none !important;
}

.display-pc {
  display: block !important;
}

.display-pc-flex {
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .display-mobile {
    display: block !important;
  }
  .display-pc,
  .display-pc-flex {
    display: none !important;
  }
}
.hidden {
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

/** Specials **/
/* Cursor */
.cursor {
  pointer-events: none;
  position: fixed;
  top: 86.5vh;
  left: 3.85vw;
  mix-blend-mode: difference;
  z-index: 1000;
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.cursor circle {
  fill: #8A6436;
  transition: fill 0.3s ease-in-out;
}

/* To Top Button */
.topButton {
  position: fixed;
  width: 7rem;
  bottom: 3rem;
  right: 3rem;
  aspect-ratio: 1;
  background-color: #3ca0d3;
  border: none;
  border-radius: 50%;
  z-index: 500;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.topButton img {
  width: 50%;
}

@media only screen and (max-width: 1280px) {
  .topButton {
    width: 6rem;
    bottom: 2rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .topButton {
    width: 4rem;
    bottom: 2rem;
    right: 2rem;
  }
}
/** Header **/
.header {
  margin: 0;
  background-color: #f2ede7;
  position: relative;
}
.header .header-content {
  background-color: #f2ede7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5.2vw;
}
.header .header-content .main-image {
  width: 28%;
}
.header .header-content > img {
  height: 70vh;
}
.header .header-content p {
  font-size: 1.6vw;
  color: #666664;
}
.header .header-content p span {
  font-weight: bold;
}
.header .header-effects .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
.header .header-effects .end {
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .header .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 6rem 0 3rem;
  }
  .header .header-content .main-image {
    width: 80%;
  }
  .header .header-content p {
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
  }
  .header .header-effects .left {
    width: 40%;
  }
  .header .header-effects .end {
    bottom: -3rem;
  }
}
/** Nav **/
.nav {
  margin-top: 13vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}
.nav .nav-buttons a {
  width: 100%;
  margin-bottom: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(60, 160, 211);
  background: linear-gradient(45deg, rgb(60, 160, 211) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
  border-radius: 2rem;
  transition: 0.15s ease-in-out;
}
.nav .nav-buttons a .first {
  width: 40%;
}
.nav .nav-buttons a .second {
  width: 60%;
}
.nav .nav-buttons a:hover {
  background-position: 0%;
}
.nav .nav-buttons button {
  width: 100%;
  background: rgb(60, 160, 211);
  background: linear-gradient(45deg, rgb(60, 160, 211) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
  border-radius: 2rem;
  border: none;
  transition: 0.15s ease-in-out;
}
.nav .nav-buttons button:first-of-type {
  margin-bottom: 1rem;
}
.nav .nav-buttons button p {
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}
.nav .nav-buttons button:hover {
  background-position: 0%;
}
.nav .nav-songs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .nav-songs .nav-song-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #272d53;
  border: none;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
.nav .nav-songs .nav-song-container .song-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}
.nav .nav-songs .nav-song-container .song-left p {
  color: #fff;
  margin: 0;
  margin-right: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.nav .nav-songs .nav-song-container .song-right {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav .nav-songs .nav-song-container .song-right div {
  width: 2.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.nav .nav-songs .nav-song-container .song-right #dot-01 {
  background-color: #0c704e;
}
.nav .nav-songs .nav-song-container .song-right #dot-02 {
  background-color: #e87a3d;
}
.nav .nav-songs .nav-song-container .song-right #dot-03 {
  background-color: #f9c54d;
}
.nav .nav-songs .nav-song-container .song-right #dot-04 {
  background-color: #d5231a;
}
.nav .nav-songs .nav-song-container .song-right #dot-05 {
  background-color: #ca4476;
}
.nav .nav-songs .nav-song-container .song-right #dot-06 {
  background-color: #4eade3;
}
.nav .nav-songs .nav-song-container .song-right #dot-07 {
  background-color: #034e92;
}
.nav .nav-songs .nav-song-container .song-right #dot-08 {
  background-color: #8e2770;
}
.nav .nav-songs .nav-song-container .song-right #dot-09 {
  background-color: #b6ade4;
}
.nav .nav-songs .nav-song-container .song-right #dot-10 {
  background-color: #606060;
}
.nav .nav-songs .nav-song-container .song-right #dot-11 {
  background-color: #07656d;
}
.nav .nav-songs .nav-song-container::after {
  content: "";
  background-color: #3ca0d3;
  height: 100%;
  width: 0rem;
  position: absolute;
  left: 0;
  transition: 0.2s ease-in-out;
}
.nav .nav-songs .nav-song-container:hover::after {
  width: 1rem;
}

@media only screen and (max-width: 1280px) {
  .nav {
    margin-top: 13vh;
    gap: 1.5rem;
  }
  .nav .nav-buttons a {
    margin-bottom: 1.5rem;
  }
  .nav .nav-buttons a .first {
    width: 35%;
  }
  .nav .nav-buttons a .second {
    width: 55%;
  }
  .nav .nav-buttons button p {
    font-size: 2rem;
  }
  .nav .nav-songs .nav-song-container .song-left {
    padding: 2rem;
  }
  .nav .nav-songs .nav-song-container .song-left p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    margin-top: 13vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .nav .nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .nav .nav-buttons a {
    margin-bottom: 0;
  }
  .nav .nav-buttons button p {
    font-size: 2rem;
  }
  .nav .nav-buttons button:first-of-type {
    margin-bottom: 0;
  }
  .nav .nav-songs {
    gap: 1rem;
  }
  .nav .nav-songs .nav-song-container .song-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
  }
  .nav .nav-songs .nav-song-container .song-left p {
    font-size: 2rem;
  }
  .nav .nav-songs .nav-song-container .song-right {
    display: none;
  }
}
/** Songs **/
.songs {
  margin-top: 20vh;
}
.songs .song-container-video {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  align-items: flex-start;
}
.songs .song-container-video .left {
  width: calc(50% - 2.5rem);
}
.songs .song-container-video .left iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 2rem;
}
.songs .song-container-video .right {
  width: calc(50% - 2.5rem);
}
.songs .song-container-video .right h3 {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: #272d53;
}
.songs .song-container-video .right p {
  color: #895236;
  font-weight: bold;
  font-size: 2.5rem;
}
.songs .song-container-audio {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  align-items: flex-start;
}
.songs .song-container-audio .left {
  width: calc(50% - 2.5rem);
}
.songs .song-container-audio .left h3 {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: #272d53;
}
.songs .song-container-audio .left p {
  color: #895236;
  font-weight: bold;
  font-size: 2.5rem;
}
.songs .song-container-audio .right {
  width: calc(50% - 2.5rem);
}

.see-more-buttons {
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.see-more-buttons a {
  padding: 1.5rem 3rem;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  background: rgb(243, 34, 57);
  background: linear-gradient(45deg, rgb(243, 34, 57) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
  transition: 0.15s ease-in-out;
}
.see-more-buttons a:first-of-type {
  border-radius: 2rem 0 0 2rem;
  background: rgb(30, 207, 95);
  background: linear-gradient(45deg, rgb(30, 207, 95) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
}
.see-more-buttons a:last-of-type {
  border-radius: 0 2rem 2rem 0;
  background: rgb(255, 0, 0);
  background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
}
.see-more-buttons a:hover {
  background-position: 0%;
}

.audio-player {
  background-color: #272d53;
  border-radius: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw;
}
.audio-player .play-pause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 1.1vw;
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  border-style: solid;
  border-width: 0.7vw 0 0.7vw 1.1vw;
}
.audio-player .play-pause.playing {
  border-style: double;
  border-width: 0px 0 0px 1.1vw;
}
.audio-player .play-pause:hover {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8470588235);
}
.audio-player span {
  color: #fff;
}
.audio-player input {
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
}
.audio-player input:focus {
  outline: none;
}
.audio-player input::-webkit-slider-runnable-track {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 0.8rem;
}
.audio-player input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.35rem;
  background-color: #3ca0d3;
  border-radius: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.audio-player input:focus::-webkit-slider-thumb {
  outline: 3px solid #3ca0d3;
  outline-offset: 0.125rem;
}
.audio-player input::-moz-range-track {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 0.8rem;
}
.audio-player input::-moz-range-thumb {
  background-color: #3ca0d3;
  border: none;
  border-radius: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.audio-player input:focus::-moz-range-thumb {
  outline: 3px solid #3ca0d3;
  outline-offset: 0.125rem;
}
.audio-player .download-button {
  height: 30%;
}
.audio-player .download-button img {
  height: 100%;
}

@media only screen and (max-width: 1280px) {
  .songs {
    margin-top: 20vh;
  }
  .songs .song-container-video {
    margin-bottom: 15vh;
    gap: 5rem;
  }
  .songs .song-container-video .right h3 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .songs .song-container-video .right p {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .songs .song-container-audio {
    margin-bottom: 15vh;
    gap: 5rem;
  }
  .songs .song-container-audio .left h3 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .songs .song-container-audio .left p {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .audio-player {
    height: 5.2vw;
    padding: 0 2vw;
  }
}
@media only screen and (max-width: 768px) {
  .songs {
    margin-top: 10vh;
  }
  .songs .song-container-video {
    margin-bottom: 10vh;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }
  .songs .song-container-video .left {
    width: 100%;
  }
  .songs .song-container-video .left iframe {
    width: 100%;
  }
  .songs .song-container-video .right {
    width: 100%;
  }
  .songs .song-container-video .right h3 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  .songs .song-container-video .right p {
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .songs .song-container-video .right .audio {
    margin-bottom: 0;
  }
  .songs .song-container-audio {
    margin-bottom: 10vh;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .songs .song-container-audio .left {
    width: 100%;
  }
  .songs .song-container-audio .left h3 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  .songs .song-container-audio .left p {
    line-height: 2rem;
  }
  .songs .song-container-audio .right {
    width: 100%;
  }
  .see-more-buttons {
    width: 50%;
    margin: 0rem auto;
    justify-content: center;
    gap: 1rem;
  }
  .see-more-buttons a {
    padding: 2vh;
    height: 9vh;
    aspect-ratio: 1;
  }
  .see-more-buttons a img {
    margin: 0 auto;
  }
  .audio-player {
    height: 9vh;
    padding: 0 4vh;
  }
  .audio-player .play-pause {
    height: 3.5vh;
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    border-style: solid;
    border-width: 2vh 0 2vh 3.5vh;
  }
  .audio-player .play-pause.playing {
    border-style: double;
    border-width: 0px 0 0px 3.5vh;
  }
  .audio-player .play-pause:hover {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.8470588235);
  }
  .audio-player input {
    width: 20%;
  }
}
/** About **/
.about {
  position: relative;
  background-color: #f2ede7;
}
.about .about-divider {
  position: absolute;
  width: 100%;
  top: -4.5rem;
  left: 0;
}
.about .about-content {
  color: #666664;
}
.about .about-content h2 {
  font-size: 5rem;
  padding-top: 3rem;
  font-weight: bold;
}
.about .about-content p {
  font-size: 2.5rem;
  text-align: center;
  width: 85%;
  margin: 2.3rem auto;
}
.about .about-content p span {
  font-weight: bold;
}
.about .about-content .about-end {
  text-align: end;
  padding: 4rem 0 6rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .about .about-content h2 {
    font-size: 3rem;
    padding-top: 2.8rem;
  }
  .about .about-content p {
    font-size: 2rem;
    width: 100%;
    margin: 2rem auto;
  }
  .about .about-content .about-end {
    padding: 2rem 0 6rem;
  }
}
/** Credits **/
.credits {
  position: relative;
  background-color: #3ca0d3;
  padding: 5vh 0;
}
.credits .credits-devider {
  position: absolute;
  width: 100%;
  left: 0;
  top: -4.3rem;
}
.credits .container {
  color: #fff;
}
.credits .container .credits-elencos h2 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0 0 2rem;
}
.credits .container .credits-elencos p {
  font-size: 2.6rem;
  margin: 0;
  position: relative;
  z-index: 6;
}
.credits .container .credits-elencos p::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: -3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1176470588);
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.credits .container .credits-elencos #elenco-01::before {
  background-color: #0c704e;
}
.credits .container .credits-elencos #elenco-02::before {
  background-color: #e87a3d;
}
.credits .container .credits-elencos #elenco-03::before {
  background-color: #f9c54d;
}
.credits .container .credits-elencos #elenco-04::before {
  background-color: #d5231a;
}
.credits .container .credits-elencos #elenco-05::before {
  background-color: #ca4476;
}
.credits .container .credits-elencos #elenco-06::before {
  background-color: #4eade3;
}
.credits .container .credits-elencos #elenco-07::before {
  background-color: #034e92;
}
.credits .container .credits-elencos #elenco-08::before {
  background-color: #8e2770;
}
.credits .container .credits-elencos #elenco-09::before {
  background-color: #b6ade4;
}
.credits .container .credits-elencos #elenco-10::before {
  background-color: #606060;
}
.credits .container .credits-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}
.credits .container .credits-buttons a {
  padding: 1.5rem 3rem;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  background: rgb(24, 115, 235);
  background: linear-gradient(45deg, rgb(24, 115, 235) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
  transition: 0.15s ease-in-out;
}
.credits .container .credits-buttons a:first-of-type {
  border-radius: 2rem 0 0 2rem;
  background: rgb(247, 0, 77);
  background: linear-gradient(45deg, rgb(247, 0, 77) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
}
.credits .container .credits-buttons a:last-of-type {
  border-radius: 0 2rem 2rem 0;
  background: rgb(144, 24, 235);
  background: linear-gradient(45deg, rgb(144, 24, 235) 0%, rgb(39, 45, 83) 45%);
  background-size: 250%;
  background-position: 100%;
}
.credits .container .credits-buttons a:hover {
  background-position: 0%;
}
.credits .container .names {
  margin-top: 5vh;
}
.credits .container .names p {
  font-size: 3rem;
  margin: 0;
  color: #272d53;
}
.credits .container .names p span {
  color: #fff;
  font-weight: bold;
}
.credits .container .advisors h4 {
  font-size: 3rem;
  margin: 0;
}
.credits .container .advisors p {
  font-size: 2.6rem;
  margin: 0;
  color: #272d53;
}
.credits .container .end {
  text-align: center;
  font-size: 3rem;
  margin: 5rem;
}

@media only screen and (max-width: 1280px) {
  .credits .container .credits-elencos h2 {
    font-size: 4rem;
  }
  .credits .container .credits-elencos p {
    font-size: 2.5rem;
  }
  .credits .container .names {
    margin-top: 5vh;
  }
  .credits .container .names p {
    font-size: 2.5rem;
  }
  .credits .container .advisors h4 {
    font-size: 2.5rem;
  }
  .credits .container .advisors p {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .credits {
    padding: 5vh 0;
  }
  .credits .container .credits-elencos h2 {
    font-size: 3rem;
  }
  .credits .container .credits-elencos p {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .credits .container .credits-elencos p::before {
    height: 0;
  }
  .credits .container .credits-elencos p:hover::before {
    width: 0;
  }
  .credits .container .credits-buttons {
    flex-direction: column;
  }
  .credits .container .credits-buttons a {
    border-radius: 2rem;
  }
  .credits .container .credits-buttons a:first-of-type {
    border-radius: 2rem;
  }
  .credits .container .credits-buttons a:last-of-type {
    border-radius: 2rem;
  }
  .credits .container .names {
    margin-top: 5vh;
  }
  .credits .container .names p {
    font-size: 2rem;
  }
  .credits .container .advisors h4 {
    font-size: 2rem;
  }
  .credits .container .advisors p {
    font-size: 1.9rem;
  }
  .credits .container .end {
    margin: 3rem 0 4rem;
    text-align: center;
    font-size: 2rem;
  }
}
/** Footer **/
.footer {
  position: relative;
  background-color: #272d53;
}
.footer .footer-divisor > img {
  position: absolute;
  top: -4.3rem;
  left: 0;
  width: 100%;
}
.footer > img {
  padding: 6rem 0 3rem;
  width: 80%;
  margin: 0 auto;
}
.footer .signature {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #272d53;
  gap: 0;
}
.footer .signature img {
  margin: 0;
  height: 2rem;
  opacity: 0.6;
}
.footer .signature p {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.6235294118);
  background-color: #272d53;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 768px) {
  .footer > img {
    padding: 6rem 0 2rem;
  }
  .footer .signature {
    width: 80%;
  }
  .footer .signature p {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */