.about {
    position: relative;
    background-color: $color-beige;

    .about-divider {
        position: absolute;
        width: 100%;
        top: -7rem;
        left: 0;
    }

    .about-content {
        color: $color-text;

        h2 {
            font-size: 5rem;
            padding-top: 3rem;
            font-weight: bold;
        }

        p {
            font-size: 2.5rem;
            text-align: center;
            width: 85%;
            margin: 2.3rem auto;

            span {
                font-weight: bold;
            }
        }

        .about-end {
            text-align: end;
            padding: 4rem 0 6rem;
        }
    }
}