.credits {
    position: relative;
    background-color: $color-light-blue;
    padding: 5vh 0;

    .credits-devider {
        position: absolute;
        width: 100%;
        left: 0;
        top: -7rem;
    }

    .container {
        color: #fff;

        .credits-elencos {
            h2 {
                font-size: 5rem;
                font-weight: bold;
                margin: 0 0 2rem;
            }

            p {
                font-size: 2.6rem;
                margin: 0;
                position: relative;
                z-index: 6;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0.8rem;
                    left: 0;
                    width: 0;
                    height: 1rem;
                    background-color: #ffffff1e;
                    z-index: -1;
                    transition: .3s ease-in-out;
                }
            }

            #elenco-01 {
                &:hover::before {
                    width: 19rem;
                    background-color: #0c704e;
                }
            }

            #elenco-02 {
                &:hover::before {
                    width: 16.6rem;
                    background-color: #e87a3d;
                }
            }

            #elenco-03 {
                &:hover::before {
                    width: 16.6rem;
                    background-color: #f9c54d;
                }
            }

            #elenco-04 {
                &:hover::before {
                    width: 18rem;
                    background-color: #d5231a;
                }
            }

            #elenco-05 {
                &:hover::before {
                    width: 18rem;
                    background-color: #ca4476;
                }
            }

            #elenco-06 {
                &:hover::before {
                    width: 22rem;
                    background-color: #4eade3;
                }
            }

            #elenco-07 {
                &:hover::before {
                    width: 22.5rem;
                    background-color: #034e92;
                }
            }

            #elenco-08 {
                &:hover::before {
                    width: 21.4rem;
                    background-color: #8e2770;
                }
            }

            #elenco-09 {
                &:hover::before {
                    width: 19rem;
                    background-color: #b6ade4;
                }
            }

            #elenco-10 {
                &:hover::before {
                    width: 23rem;
                    background-color: #606060;
                }
            }
        }

        .credits-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            margin-top: 3rem;

            a {
                padding: 1.5rem 3rem;
                margin: 0;
                color: #fff;
                font-size: 2rem;
                background: rgb(58,128,218);
                background: linear-gradient(45deg, rgba(58,128,218,1) 0%, rgba(45,49,83,1) 50%);
                background-size: 250%;
                background-position: 100%;
                transition: .15s ease-in-out;

                &:first-of-type {
                    border-radius: 2rem 0 0 2rem;
                    background: rgb(218,58,96);
                    background: linear-gradient(45deg, rgba(218,58,96,1) 0%, rgba(45,49,83,1) 50%);
                    background-size: 250%;
                    background-position: 100%;
                }

                &:last-of-type {
                    border-radius: 0 2rem 2rem 0;
                    background: rgb(87,58,218);
                    background: linear-gradient(45deg, rgba(87,58,218,1) 0%, rgba(45,49,83,1) 50%);
                    background-size: 250%;
                    background-position: 100%;
                }

                &:hover {
                    background-position: 0%;
                }
            }
        }

        .names {
            margin-top: 5vh;

            p {
                font-size: 3rem;
                margin: 0;
                color: $color-dark-blue;

                span {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }

        .advisors {
            h4 {
                font-size: 3rem;
                margin: 0;
            }

            p {
                font-size: 2.6rem;
                margin: 0;
                color: $color-dark-blue;
            }
        }

        .end {
            text-align: center;
            font-size: 3rem;
            margin: 5rem;
        }
    }
}